In [1]:
import pandas as pd
import numpy as np
from time import time

In [2]:
df = pd.read_csv('carbon_data/data.csv', low_memory = False)

We specified memory false to suppress 'DtypeWarning', but then we further look in to the data to fix the mixed data types

In [4]:
df.shape

(9920108, 38)

In [5]:
df.columns

Index(['ID', 'Country', 'VFN', 'Mp', 'Mh', 'Man', 'MMS', 'Tan', 'T', 'Va',
       'Ve', 'Mk', 'Cn', 'Ct', 'Cr', 'r', 'm (kg)', 'Mt', 'Enedc (g/km)',
       'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm',
       'ec (cm3)', 'ep (KW)', 'z (Wh/km)', 'IT', 'Ernedc (g/km)',
       'Erwltp (g/km)', 'De', 'Vf', 'Status', 'year', 'Date of registration',
       'Fuel consumption ', 'Electric range (km)'],
      dtype='object')

In [6]:
df.head()

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
0,57566673,IS,IP-01-JMB-2018-0001,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,MITSUBISHI MOTORS CORPORATION,NaN,E1*2001/116*0406*32,CW0,GGP21,...,NaN,NaN,NaN,NaN,NaN,P,2021,2021-03-24,NaN,45.0
1,57566674,IS,IP-01-JMB-2018-0001,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,MITSUBISHI MOTORS CORPORATION,NaN,E1*2001/116*0406*32,CW0,GGP21,...,NaN,NaN,NaN,NaN,NaN,P,2021,2021-03-24,NaN,45.0
2,57566675,IS,IP-01-JMB-2018-0001,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,MITSUBISHI MOTORS CORPORATION,NaN,E1*2001/116*0406*32,CW0,GGP21,...,NaN,NaN,NaN,NaN,NaN,P,2021,2021-03-23,NaN,45.0
3,57566676,IS,IP-01-JMB-2018-0001,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,MITSUBISHI MOTORS CORPORATION,NaN,E1*2001/116*0406*32,CW0,GGP21,...,NaN,NaN,NaN,NaN,NaN,P,2021,2021-03-23,NaN,45.0
4,57566677,IS,IP-01-JMB-2018-0001,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,MITSUBISHI MOTORS CORPORATION,NaN,E1*2001/116*0406*32,CW0,GGP21,...,NaN,NaN,NaN,NaN,NaN,P,2021,2021-03-19,NaN,45.0

In [8]:
#Rename columns
cols = {'VFN':'Vehicle_Family_ID', 
         'Mp':'Pool', 
         'Mh':'Manufacturer_EU',
         'Man':'Manufacturer_OEM',
         'MMS': 'Manufacturer_MS',
         'Tan':'TA_number',
         'T':'Type', 
        'Va':'Variant', 
         'Ve':'Version', 
        'Mk':'Make',
         'Cn':'Commercial_Name',
         'Ct':'Category_A', 
         'Cr':'Category_R', 
         'r':'Total_registrations', 
         'm (kg)':'Mass_RO',
         'Mt':'WLTP_test_mass',
         'Enedc (g/km)':'Emissions_NEDC',
         'Ewltp (g/km)':'Emissions_WLTP', 
         'W (mm)':'Wheel_base', 
         'At1 (mm)':'Axle_width_steering',
         'At2 (mm)':'Axle_width_other', 
         'Ft':'Fuel_type', 
         'Fm':'Fuel_mode',
         'ec (cm3)':'Engine_capacity',
         'ep (KW)':'Engine_power', 
         'z (Wh/km)':'Electricity_consumption', 
         'IT':'Emission_reduction_IT', 
         'Ernedc (g/km)':'Emission_reduction_NEDC',
         'Erwltp (g/km)':'Emission_reduction_WLTP',  
         'De':'Deviation_factor',   
         'Vf':'Verification_factor',
         'Status':'Type_of_data',   
         'year':'Registration_year',
        'Date of registration':'Registration_date',
        'Fuel consumption ':'Fuel_consumption', 
         'Electric range (km)':'Electric_range'}

In [9]:
#Rename columns with suitable names
df.rename(columns=cols, inplace =True)

In [11]:
df.dtypes

ID                           int64
Country                     object
Vehicle_Family_ID           object
Pool                        object
Manufacturer_EU             object
Manufacturer_OEM            object
Manufacturer_MS            float64
TA_number                   object
Type                        object
Variant                     object
Version                     object
Make                        object
Commercial_Name             object
Category_A                  object
Category_R                  object
Total_registrations          int64
Mass_RO                    float64
WLTP_test_mass             float64
Emissions_NEDC             float64
Emissions_WLTP             float64
Wheel_base                 float64
Axle_width_steering        float64
Axle_width_other           float64
Fuel_type                   object
Fuel_mode                   object
Engine_capacity            float64
Engine_power               float64
Electricity_consumption    float64
Emission_reduction_IT       object
Emission_reduction_NEDC    float64
Emission_reduction_WLTP    float64
Deviation_factor           float64
Verification_factor        float64
Type_of_data                object
Registration_year            int64
Registration_date           object
Fuel_consumption           float64
Electric_range             float64
dtype: object

In [12]:
#Number of countries in dataset
len(df.Country.unique())

29

In [23]:
#Find columns with multiple data types(more than 1)
mixed_datatypes_cols = []

for col in df.columns:
    unique_types = df[col].apply(type).unique()
    if len(unique_types) > 1:
        print(col,':', unique_types)
        mixed_datatypes_cols.append(col)

Vehicle_Family_ID : [<class 'str'> <class 'float'>]
Pool : [<class 'str'> <class 'float'>]
TA_number : [<class 'str'> <class 'float'>]
Type : [<class 'str'> <class 'float'>]
Variant : [<class 'str'> <class 'float'>]
Version : [<class 'str'> <class 'float'>]
Make : [<class 'str'> <class 'float'>]
Commercial_Name : [<class 'str'> <class 'float'>]
Category_A : [<class 'str'> <class 'float'>]
Fuel_mode : [<class 'str'> <class 'float'>]
Emission_reduction_IT : [<class 'float'> <class 'str'>]
Registration_date : [<class 'pandas._libs.tslibs.timestamps.Timestamp'>
 <class 'pandas._libs.tslibs.nattype.NaTType'>]

In [15]:
# Check the datatypes for cumns with mixed data types
[(df[col].dtype) for col in mixed_datatypes_cols]

[dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O')]

In [16]:
df['Registration_date'] = pd.to_datetime(df['Registration_date'])

All columns except 'Registration_date' which is a date, were parsed  to strings correctly but it seems NaNs introduce floats.

In [19]:
# %%time
# for col in df.columns:
#     weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
#     if len(df[weird]) > 0:
#         print(col)

In [20]:
# Check for non null floats
for col in mixed_datatypes_cols:
    all_floats = (df[[col]].applymap(type) != str).squeeze()
    non_null_floats = df[col][all_floats][~df[col][all_floats].isna()]
    if len(non_null_floats) > 0:
        print(col)
    else:
        print(f'All floats in {col} are non null')

All floats in Vehicle_Family_ID are non null
All floats in Pool are non null
All floats in TA_number are non null
All floats in Type are non null
All floats in Variant are non null
All floats in Version are non null
All floats in Make are non null
All floats in Commercial_Name are non null
All floats in Category_A are non null
All floats in Fuel_mode are non null
All floats in Emission_reduction_IT are non null
Registration_date

We take note of the Registration_date column

In [19]:
#Check for floats which are non nulls in date
all_floats = (df[['Registration_date']].applymap(type) != df[['Registration_date']].iloc[0].apply(type)).squeeze()
non_null_floats = df['Registration_date'][all_floats][df['Registration_date'][all_floats].isna()]
non_null_floats.head()

9485   NaT
9486   NaT
9487   NaT
9488   NaT
9489   NaT
Name: Registration_date, dtype: datetime64[ns]

In [21]:
# Confirm pandas treats NaT as null
pd.isnull(pd.NaT)

True

In [17]:
sum(df.Registration_date.map(type) == pd.NaT)

0

In [24]:
mixed_datatypes_cols

['Vehicle_Family_ID',
 'Pool',
 'TA_number',
 'Type',
 'Variant',
 'Version',
 'Make',
 'Commercial_Name',
 'Category_A',
 'Fuel_mode',
 'Emission_reduction_IT',
 'Registration_date']

They are all null dates, which is fine. They wont throw an error anymore when trying to save the dataframe

In [23]:
#Fill all mixed datatypes except Registration date with empty string
df[mixed_datatypes_cols] = df[mixed_datatypes_cols].fillna('')

In [25]:
for col in df.columns:
    unique_types = df[col].apply(type).unique()
    if len(unique_types) > 1:
        print(col, unique_types)
        mixed_datatypes_cols.append(col)

Vehicle_Family_ID [<class 'str'> <class 'float'>]
Pool [<class 'str'> <class 'float'>]
TA_number [<class 'str'> <class 'float'>]
Type [<class 'str'> <class 'float'>]
Variant [<class 'str'> <class 'float'>]
Version [<class 'str'> <class 'float'>]
Make [<class 'str'> <class 'float'>]
Commercial_Name [<class 'str'> <class 'float'>]
Category_A [<class 'str'> <class 'float'>]
Fuel_mode [<class 'str'> <class 'float'>]
Emission_reduction_IT [<class 'float'> <class 'str'>]
Registration_date [<class 'pandas._libs.tslibs.timestamps.Timestamp'>
 <class 'pandas._libs.tslibs.nattype.NaTType'>]

In [26]:
df['Registration_date'].map(type).unique()

array([<class 'pandas._libs.tslibs.timestamps.Timestamp'>,
       <class 'pandas._libs.tslibs.nattype.NaTType'>], dtype=object)

In [48]:
#df[['Fuel_mode','Emission_reduction_IT' ]] = df[['Fuel_mode','Emission_reduction_IT' ]].fillna('')

In [16]:
#df[['Registration_date']] = df['Registration_date'].fillna('', inplace=True)

In [25]:
# The dataset is ready fro uploading to GCS
df.to_parquet('emissions.parquet.gz',
              compression='gzip')

In [22]:
import requests
from bs4 import BeautifulSoup

In [ ]:
https://www.iban.com/country-codes

In [68]:
html_data = requests.get('https://www.iban.com/country-codes').text

In [69]:
soup = BeautifulSoup(html_data, "html.parser")
data = pd.read_html(str(soup))

In [70]:
data

[               Country Alpha-2 code Alpha-3 code  Numeric
 0          Afghanistan           AF          AFG        4
 1        Ã…land Islands           AX          ALA      248
 2              Albania           AL          ALB        8
 3              Algeria           DZ          DZA       12
 4       American Samoa           AS          ASM       16
 ..                 ...          ...          ...      ...
 244  Wallis and Futuna           WF          WLF      876
 245     Western Sahara           EH          ESH      732
 246              Yemen           YE          YEM      887
 247             Zambia           ZM          ZMB      894
 248           Zimbabwe           ZW          ZWE      716

 [249 rows x 4 columns]]

In [71]:
 df_cities = data[0]

In [72]:
df_cities.drop(columns =['Alpha-3 code','Numeric'],inplace= True)

In [73]:
df_cities.rename(columns={'Country':'Country_name', 'Alpha-2 code':'Country_code'},inplace = True)

In [74]:
df_cities

          Country_name Country_code
0          Afghanistan           AF
1        Ã…land Islands           AX
2              Albania           AL
3              Algeria           DZ
4       American Samoa           AS
..                 ...          ...
244  Wallis and Futuna           WF
245     Western Sahara           EH
246              Yemen           YE
247             Zambia           ZM
248           Zimbabwe           ZW

[249 rows x 2 columns]

In [76]:
df_cities.to_csv('carbon_data/countries.csv')